@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #242424;
  font-family: "Roboto";
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

.row {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

html {
  background-color: rgb(245, 245, 245);
}

.title--orange {
  color: #f06449;
  font-weight: bold;
}

.title--landing {
  font-size: 100px;
}

/* To Make Interactive Buttons That Get Larger On Hover And Smaller On Click */

.button__click {
  transition: all 300ms ease;
  cursor: pointer;
}

.button__click:active {
  transform: scale(0.9);
}

.button__click:hover {
  transform: scale(1.1);
}

/* landing-page */

#landing-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

header {
  width: 100%;
  max-width: 900px;
  padding: 0 28px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__para {
  color: #000;
  max-width: 500px;
  font-size: 20px;
  line-height: 1.5;
  margin-top: 24px;
}

.social__link--wrapper {
  display: flex;
  margin-top: 24px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #f06449;
}

.personal-icons {
  color: #ffffff;
}

.mail__button {
  z-index: 10;
  color: white;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 100%;
  font-size: 32px;
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 24px;
  right: 24px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
}

/* Animation Of A Scrolling Mouse */

.scroll__button {
  width: 20px;
  height: 30px;
  border-radius: 24px;
  border: 2px solid #242424;
  background-color: white;
  position: absolute;
  bottom: 24px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__circle {
  width: 4px;
  height: 4px;
  padding: 4px;
  border-radius: 100%;
  background-color: #242424;
  animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}

.fas.fa-envelope {
  color: white;
}

/* about me */

.about__container {
  display: flex;
  opacity: 1;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 900px;
  height: 700px;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
}

.about__half--info,
.about__half--contact {
  width: 50%;
  height: 100%;
}

.about__half--contact {
  color: #fff;
  background-color: #242424;
  padding: 40px 72px;
}

.about__half--info {
  color: #242424;
  background-color: rgb(245, 245, 245);
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__half--title {
  font-size: 24px;
  margin-bottom: 8px;
}

.about__half--subtitle {
  font-size: 14px;
  font-weight: 700;
}

.about__half--para {
  max-width: 90%;
  margin-top: 24px;
  line-height: 1.5;
}

.technology__list {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.technology {
  width: 20%;
  margin-right: 8px;
  margin-bottom: 24px;
  transition: all 300ms ease;
  position: relative;
}

.technology__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.technology__title {
  font-size: 0px;
  opacity: 0;
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  transition: 300ms ease;
}

.technology:hover {
  transform: scale(0.95);
  filter: brightness(0.8);
}

.technology:hover .technology__title {
  opacity: 1;
  font-size: 16px;
}

/* navigation bar */

nav {
  min-height: 40px;
  padding: 0 24px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.personal-logo__wrapper {
  max-width: 80px;
  max-height: 80px;
}

.personal-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.nav__link,
.footer__link {
  margin: 0 12px;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}

.link__hover-effect::after {
  content: "";
  width: 10%;
  height: 3px;
  bottom: -3px;
  right: 0;
  opacity: 0;
  position: absolute;
  background-color: #242424;
  transition: all 0.3s;
}

.link__hover-effect:hover::after {
  width: 100%;
  opacity: 1;
  left: 0;
}

.dark-mode {
  font-size: 20px;
}

/* Projects */

#projects .title--landing {
  text-align: center;
  font-size: 48px;
  padding: 48px 0;
}

.project__list {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.project {
  width: 100%;
  height: 500px;
  margin: 48px 0;
  position: relative;
  transition: all 400ms ease;
}

.project__image--wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 24px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
}

.project__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 300ms ease;
}

.project__overlay {
  opacity: 0;
  border-radius: 24px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #1c1d25;
  transition: all 400ms ease;
}

.project:hover {
  .project__overlay {
    opacity: 0.8;
  }
  .project__image {
    transform: scale(1.1);
    filter: blur(5px);
  }
  .project__info {
    opacity: 1;
    text-align: left;
    transform: translateY(-200px);
  }
}

.project__info {
  opacity: 0;
  position: absolute;
  bottom: 24px;
  left: 24px;
  max-width: 500px;
  transition: all 400ms ease;
}

.project__info--title,
.project__info--para {
  margin-top: 16px;
  color: white;
  opacity: 1;
}

/* Footer */

footer {
  padding: 120px 0;
  background-color: #242424;
}

.footer__row {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__link--wrapper {
  margin: 28px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footer__link {
  color: white;
  font-weight: 400;
}

.footer__copyright {
  color: white;
  font-size: 16px;
}

footer .link__hover-effect::after {
  background-color: white;
}

footer .personal-logo {
  filter: invert(1);
}
