@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #242424;
  font-family: "Roboto";
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

html {
  background-color: #ffffff;
}

.title--orange {
  color: #f06449;
  font-weight: bold;
}

.title--landing {
  font-size: 100px;
}

/* To Make Interactive Buttons That Get Larger On Hover And Smaller On Click */

.button__click {
  transition: all 300ms ease;
  cursor: pointer;
}

.button__click:active {
  transform: scale(0.9);
}

.button__click:hover {
  transform: scale(1.1);
}

/* landing-page */

#landing-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

header {
  width: 100%;
  max-width: 900px;
  padding: 0 28px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__para {
  color: #000;
  max-width: 500px;
  font-size: 20px;
  line-height: 1.5;
  margin-top: 24px;
}

.social__link--wrapper {
  display: flex;
  margin-top: 24px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #f06449;
}

.personal-icons {
  color: #ffffff;
}

.mail__button {
  color: white;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 100%;
  font-size: 32px;
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 24px;
  right: 24px;
}

/* Animation Of A Scrolling Mouse */

.scroll__button {
  width: 20px;
  height: 30px;
  border-radius: 24px;
  border: 2px solid #242424;
  background-color: white;
  position: absolute;
  bottom: 24px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__circle {
  width: 4px;
  height: 4px;
  padding: 4px;
  border-radius: 100%;
  background-color: #242424;
  animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}

.fas.fa-envelope {
  color: white;
}

/* navigation bar */

nav {
  min-height: 40px;
  padding: 0 24px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.personal-logo__wrapper {
  max-width: 80px;
  max-height: 80px;
}

.personal-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.nav__link {
  margin: 0 12px;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}

.link__hover-effect::after {
  content: "";
  width: 10%;
  height: 3px;
  bottom: -3px;
  right: 0;
  opacity: 0;
  position: absolute;
  background-color: #242424;
  transition: all 0.3s;
}

.link__hover-effect:hover::after {
  width: 100%;
  opacity: 1;
  left: 0;
}

.dark-mode {
  font-size: 20px;
}

/* Projects */

#projects .title--landing {
  text-align: center;
  font-size: 48px;
  padding: 48px 0;
}

.project__list{
    display: flex;
    flex-direction: column;
}

.project{
    width: 100%;
    height: 500px;
    margin: 48px 0;
    position: relative;
    transition: all 400ms ease;
}

.project__image--wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 24px;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
}

.project__image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 300ms ease;

}

.project__overlay {
    opacity: 0;
    border-radius: 24px;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    background-color: #1c1d25;
    transition: all 400ms ease;
}

.project:hover {
    .project__overlay {
        opacity: 0.8;
    }
    .project__image {
        transform: scale(1.1);
        filter: blur(1px);
    }
    .project__info {
        opacity: 1;
        text-align: left;
        transform: translateY(-200px);
    }
}

.project__info {
    opacity: 0;
    position: absolute;
    bottom: 24px; left: 24px;
    max-width: 500px;
    transition: all 400ms ease;
}

.project__info--title, .project__info--para {
    margin-top: 16px;
    color: white;
    opacity: 1;
}