@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #242424;
  font-family: "Roboto";
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

.dark-theme .title--landing,
.dark-theme .title--orange,
.dark-theme .fa-adjust,
.dark-theme .header__para,
.dark-theme .nav__link {
  color: white;
}

.dark-theme .scroll__button {
  background-color: #242424;
  border-color: white;
}

.dark-theme .scroll__circle {
  background-color: white;
}

.dark-theme {
  input:focus,
  textarea:focus {
    border-color: #0c97dc;
  }
}

.dark-theme {
  .mail__button {
    filter: invert(1);
    box-shadow: none;
  }
}

.dark-theme .title--orange {
  color: #0c97dc;
}

.dark-theme .social__link {
  background-color: #0c97dc;
}

.dark-theme #contact__submit {
    background-color: #0c97dc;
    border-color: #0c97dc;
  }

  #contact__submit:active {
    color: #0c97dc;
    background-color: transparent;
  }

  .dark-theme .about__button--switch {
    background-color: #0c97dc;
    border-color: #0c97dc;
  }

  .dark-theme .about__button--switch:active {
    background-color: transparent;
    border-color: #0c97dc;
    color: #0c97dc;
  }


.dark-theme {
  .link__hover-effect::after {
    background-color: white;
  }
}

.dark-theme section {
  background-color: #242424;
}

.dark-theme .personal-logo {
  filter: invert(1);
}

input,
textarea {
  width: 100%;
  color: white;
  background-color: #242424;
  outline: none;
  border: 1px solid #c0c4cc;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  transition: all 300ms ease;
}

textarea {
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}

label {
  font-size: 14px;
  font-weight: 700;
}

input:hover,
textarea:hover {
  border-color: #dcdfe6;
}

input:focus,
textarea:focus {
  border-color: #f06449;
}

.row {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

section {
  background-color: rgb(245, 245, 245);
  transition: background-color 300ms ease;
}

.title--landing {
  font-size: 100px;
  color: black;
}

.title--orange {
  color: #f06449;
  font-weight: bold;
}

/* To Make Interactive Buttons That Get Larger On Hover And Smaller On Click */

.button__click {
  transition: all 300ms ease;
  cursor: pointer;
}

.button__click:active {
  transform: scale(0.9);
}

.button__click:hover {
  transform: scale(1.1);
}

nav,
header {
  opacity: 1;
  visibility: visible;
  transition: all 600ms 800ms;
}

.about--open nav,
.about--open header,
.about--open .scroll {
  opacity: 0;
  visibility: hidden;
  transition: all 300ms;
}

/* landing-page */

#landing-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

header {
  width: 100%;
  max-width: 900px;
  padding: 0 28px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__para {
  color: #000;
  max-width: 500px;
  font-size: 20px;
  line-height: 1.5;
  margin-top: 24px;
}

.social__link--wrapper {
  display: flex;
  margin-top: 24px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #f06449;
}

.personal-icons {
  color: #ffffff;
}

.mail__button {
  z-index: 10;
  color: white;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 100%;
  font-size: 32px;
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 24px;
  right: 24px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
}

/* Animation Of A Scrolling Mouse */

.scroll__button {
  width: 20px;
  height: 30px;
  border-radius: 24px;
  border: 2px solid #242424;
  background-color: white;
  position: absolute;
  bottom: 24px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__circle {
  width: 4px;
  height: 4px;
  padding: 4px;
  border-radius: 100%;
  background-color: #242424;
  animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}

.fas.fa-envelope {
  color: white;
}

/* about me */

.about--open .about__container {
  z-index: 60;
  visibility: visible;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
}

.about__container {
  z-index: -1;
  display: flex;
  visibility: hidden;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  height: 700px;
  border-radius: 24px;
  overflow: hidden;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.about--open .about__half--info,
.about--open .about__half--contact {
  transform: translateX(0%);
}

.about__half--info,
.about__half--contact {
  width: 50%;
  height: 100%;
}

.about__half--contact {
  color: #fff;
  background-color: #242424;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transform: translateX(110%);
  transition: all 300ms ease-in;
}

.about__half--title--contact {
  font-size: 28px;
  color: #fff;
  margin-bottom: 8px;
}

.about__half--subtitle--contact {
  color: #fff;
  font-size: 14px;
}

.contact__form {
  margin-top: 32px;
}

.form__item {
  margin-bottom: 24px;
}

.form__item--label {
  color: white;
}

.form__submit {
  background-color: #f06449;
  border: 2px solid #f06449;
  color: white;
  font-weight: 700;
  width: 100%;
  max-width: 240px;
  padding: 12px 24px;
  font-size: 20px;
  transition: all 300ms ease;
}

.form__submit:hover {
  border-color: white;
  background-color: transparent;
}

.form__submit:active {
  border-color: #f06449;
  color: #f06449;
}

.about__overlay {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.about__overlay--loading {
  background-color: #242424;
}

.about__overlay--success {
  background-color: #4bb543;
  font-size: 36px;
  font-weight: 700;
  color: white;
  text-align: center;
  padding: 28px;
}

.about__overlay--visible {
  z-index: 1;
  display: flex;
}

.fa-spinner {
  color: white;
  font-size: 80px;
  animation: spinnerRotate 750ms infinite linear;
}

@keyframes spinnerRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.about__exit {
  content: "";
  position: absolute;
  top: 30px;
  right: 40px;
  color: white;
  font-size: 32px;
  z-index: 100;
}

.about__half--info {
  color: #242424;
  background-color: rgb(245, 245, 245);
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-110%);
  transition: all 300ms ease-in;
}

.about__half--title {
  font-size: 28px;
  color: black;
  margin-bottom: 8px;
}

.about__half--subtitle {
  font-size: 14px;
  font-weight: 700;
}

.about__half--para {
  margin-top: 24px;
  line-height: 1.5;
}

.technology__list {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.technology {
  width: 20%;
  margin-right: 8px;
  margin-bottom: 24px;
  transition: all 300ms ease;
  position: relative;
}

.technology__image {
  width: 100%;
  height: 80%;
  object-fit: contain;
}

.technology__title {
  font-size: 0px;
  opacity: 0;
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  transition: 300ms ease;
}

.technology:hover {
  transform: scale(0.95);
  filter: brightness(0.8);
}

.technology:hover .technology__title {
  opacity: 1;
  font-size: 16px;
}

.about__button--switch {
  visibility: hidden;
  position: absolute;
  bottom: 30px;
  left: 35%;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: hidden;
  opacity: 1;
  padding: 12px 24px;
  background-color: #f06449;
}

.about__button--switch:active {
  background-color: rgb(245, 245, 245);
  border: 2px solid #f06449;
  color: #f06449;
}

/* navigation bar */

nav {
  min-height: 40px;
  padding: 0 24px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.personal-logo__wrapper {
  max-width: 80px;
  max-height: 80px;
}

.personal-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.nav__link,
.footer__link {
  margin: 0 12px;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}

.link__hover-effect::after {
  content: "";
  width: 10%;
  height: 3px;
  bottom: -3px;
  right: 0;
  opacity: 0;
  position: absolute;
  background-color: #242424;
  transition: all 0.3s;
}

.link__hover-effect:hover::after {
  width: 100%;
  opacity: 1;
  left: 0;
}

.dark-mode {
  font-size: 20px;
}

/* Projects */

#projects .title--landing {
  text-align: center;
  font-size: 48px;
  padding: 48px 0;
}

.project__list {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.project {
  width: 100%;
  height: 500px;
  margin: 48px 0;
  position: relative;
  transition: all 400ms ease;
}

.project__image--wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 24px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
}

.project__image {
  width: 100%;
  height: 100%;
  scale: 1.1;
  object-fit: contain;
  transition: all 300ms ease;
}

.project__overlay {
  opacity: 0;
  border-radius: 24px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #1c1d25;
  transition: all 400ms ease;
}

.project:hover {
  .project__overlay {
    opacity: 0.8;
  }
  .project__image {
    transform: scale(1.2);
    filter: blur(5px);
  }
  .project__info {
    opacity: 1;
    text-align: left;
    transform: translateY(-200px);
  }
}

.project__info {
  opacity: 0;
  position: absolute;
  bottom: 24px;
  left: 24px;
  max-width: 500px;
  transition: all 400ms ease;
}

.project__info--title,
.project__info--para {
  margin-top: 16px;
  color: white;
  opacity: 1;
}

/* Footer */

footer {
  padding: 120px 0;
  background-color: #242424;
}

.footer__row {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__link--wrapper {
  margin: 28px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footer__link {
  color: white;
  font-weight: 400;
}

.footer__copyright {
  color: white;
  font-size: 16px;
}

footer .link__hover-effect::after {
  background-color: white;
}

footer .personal-logo {
  filter: invert(1);
}

/* Responsiveness */

/* Make project overlay lighter when it is in dark mode and remove transition on mouse when dark mode is initiated */

@media (max-width: 768px) {
  /* Navigation */
  .title--landing {
    font-size: 80px;
  }
  .header__para {
    font-size: 18px;
  }

  /* Project List */
  #projects .title--landing {
    font-size: 36px;
  }
  .project__list {
    padding: 0px 36px;
  }
  .project__info--title {
    font-size: 20px;
  }

  /* About Me */

  .about__container {
    max-width: 450px;
  }

  .about__half--contact {
    position: absolute;
    left: -110%;
    opacity: 0;
    visibility: visible;
    z-index: 1;
  }

  .about__half--info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }

  .about__half--title {
    font-size: 28px;
  }

  .technology__image {
    max-height: 70px;
  }

  .about__half--para {
    font-size: 18px;
    margin-bottom: 12px;
  }

  .about__button--switch {
    visibility: visible;
  }

  .about__slider .about__half--contact {
    visibility: visible;
    z-index: 1;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
}

@media (max-width: 572px) {
  /* Navigation */
  .nav__link--wrapper {
    display: flex;
  }
  .title--landing {
    font-size: 60px;
  }
  .header__para {
    font-size: 16px;
  }
  .nav__link {
    display: none;
  }
  .nav__link:nth-child(3),
  .nav__link:nth-child(4) {
    display: block;
  }
  /* About */

  .about__container {
    max-width: 350px;
  }
  .about__half--para {
    font-size: 14px;
  }
  .technology__title {
    font-size: 12px;
  }
  /* Project */
  #projects .title--landing {
    font-size: 28px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .project__info--para {
    font-size: 14px;
    max-width: 250px;
  }
  /*Footer*/
  .footer__link, .footer__copyright {
    font-size: 14px;
  }
}
